/.vscode
/bin
/lib
/README.md
src/PhoneBook_C/phone_book.exe
/.vs/Java1/v17
/.vs/Java1/FileContentIndex/read.lock
/.vs/Java1/FileContentIndex/bdf616d5-817b-4c86-9894-c0f572a28dc7.vsidx
/.vs/Java1/FileContentIndex/2a6c6283-4d8b-4f6d-ab23-f70e43ee531e.vsidx
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
